<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<script>
document.addEventListener("DOMContentLoaded", function() {
  // 1) Find the sidebar <nav> container
  const sidebarNav = document.querySelector('.side-bar nav');
  if (!sidebarNav) return;

  // 2) Build your manual menu HTML
  sidebarNav.innerHTML = `
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-list-link" href="/">Balanced</a>
      </li>
      <li class="nav-list-item nav-list-item--has-children">
        <span class="nav-list-link">To-Do</span>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="/todo">List</a>
          </li>
        </ul>
      </li>
      <li class="nav-list-item nav-list-item--has-children">
        <span class="nav-list-link">Calendar</span>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="/calendar">View</a>
          </li>
        </ul>
      </li>
    </ul>
  `;
});
</script>
