<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<script>
document.addEventListener("DOMContentLoaded", function() {
  const sidebarNav = document.querySelector('.side-bar nav');
  if (!sidebarNav) return;
  sidebarNav.innerHTML = `
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-list-link" href="/">Balanced</a>
      </li>
      <li class="nav-list-item nav-list-item--has-children">
        <span class="nav-list-link">To-Do</span>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="/todo">List</a>
          </li>
        </ul>
      </li>
      <li class="nav-list-item nav-list-item--has-children">
        <span class="nav-list-link">Calendar</span>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="/calendar">View</a>
          </li>
        </ul>
      </li>
      <li class="nav-list-item nav-list-item--has-children">
        <span class="nav-list-link">Investments</span>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="/investments">Portfolio</a>
          </li>
        </ul>
      </li>
    </ul>
  `;
});
</script>
